snippet a "inserts a hyperlink"
<a href="${1:#}" alt="${2:#}">${3:text}</a>
endsnippet


snippet div "inserts a DIV tag"
<div id="${1:unique_id}">
 $0
</div> <!-- $1 -->
endsnippet


snippet head "inserts a HEAD tag" b
<head>
 $0
</head>
endsnippet


snippet header "inserts HTML5 header" b
<!DOCTYPE html>
$0
endsnippet


snippet html "inserts a HTML tag" b
<html>
 $0
</html>
endsnippet
