snippet #! "inserts a bash shebang" b
#!/usr/bin/env bash
endsnippet

snippet shebang "inserts a bash shebang" b
#!/usr/bin/env bash
endsnippet

snippet header "inserts a header describing the script" b
# Name:          `!p snip.rv = snip.basename`
# Description:   ${1:TODO}
# Options:       ${2:None}
# Created on:    `!v strftime("%d-%m-%Y")`
# Last modified: `!v strftime("%d-%m-%Y")`
# Author:        Adam Graliński (adam@gralin.ski)
# License:       ${3:MIT}
$0
endsnippet
