snippet keybind "Inserts an openbox's rc.xml keybind"
<keybind key="$1">
  <action name="Execute">
    <command>$2</command>
  </action>
</keybind>
endsnippet

snippet flash "Inserts an IT-PL flashcard" b
<flashcard>
  <idioma>
    $1
  </idioma>
  <sentenza>
    $2
  </sentenza>
  <idiom>
    $3
  </idiom>
  <zdanie>
    $4
  </zdanie>
</flashcard>
$0
endsnippet
